p {
	font-family: 'Montserrat', sans-serif;
}

.dia {
	font-size: 14px;
}

#description {
	height: 108px;
}

.map-icon {
	height: 24px;
}

#titulo {
	font-family: 'Antic', sans-serif;
}

section#contact {
	background-color: #ffffff;
}

#success-text {
	color: #0aaf10;
}

header {
	background-color: #337ab7;
}

header .header-content .header-content-inner p {
    color: #ffffff;
}

.bg-primary, .btn-primary {
	background-color: #88d8b0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #88d8b0;
  border-color: #6cac8c;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #88d8b0;
  border-color: #88d8b0;
}

.btn-primary .badge {
  color: #88d8b0;
  background-color: white;
}

.bg-info {
	background-color: #f5f5dc;
}


a {
  color: #88d8b0;
}
a:hover,
a:focus {
  color: #88d8b0;
}

hr {
  border-color: #88d8b0;
}

.img-responsive {
  margin-bottom: 30px;
}

.row .first {
	margin: 0px;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: #337ab7;
    border-color: rgba(255, 255, 255, 0.3);
  }

 .navbar-default .navbar-header .navbar-brand {
  color: #88d8b0;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #88d8b0;
}

  .navbar-default.affix .navbar-header .navbar-brand {
    color: #88d8b0;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #88d8b0;
  }

  .navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #88d8b0;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #88d8b0 !important;
  background-color: transparent;
}


