p {
	font-family: 'Montserrat', sans-serif;
}

.dia {
	font-size: 14px;
}

#description {
	height: 108px;
}

.map-icon {
	height: 24px;
}

#titulo {
	font-family: 'Antic', sans-serif;
}

section#contact {
	background-color: #ffffff;
}

#success-text {
	color: #0aaf10;
}